* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: vertical;
  background-color: #fff1e5 !important;
  overflow-y: scroll;
  font-size: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

input {
  border-color: #59554c;
  color: #495057;
}


a {
  color: #0d7680;
  text-decoration: none;
  cursor: pointer;
}

// 按钮
.btn {
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0pc;
  line-height: 1.5;
  padding: .375rem .75rem;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  cursor: pointer;
}

ul,
ol>li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  width: 100% !important;
}

// 媒体查询
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;

    .row-col {
      min-width: 41.666667%;
    }
  }
}

@media (max-width:1200px) and (min-width: 992px) {
  .container {
    max-width: 960px;

    .row-col {
      min-width: 50%;
    }

    .footerTitle-sm {
      min-width: 16.666667%;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;

    .row-col {
      min-width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;

    .row-col {
      min-width: 58.333333%;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;

    .footerTitle-sm {
      min-width: 50%;
      flex: 0 0 50%;
    }

    .col-group {
      width: 0;
    }

    .col-auto {
      width: 100%;
    }
  }
}

//footer
@media (min-width: 576px) {
  .footerTitle-sm {
    min-width: 50%;
    flex: 0 0 50%;
  }
}

@media (min-width:768px) {
  .footerTitle-sm {
    min-width: 25%;
    flex: 0 0 25%;
  }
}

@media(min-width: 992px) {
  .footerTitle-sm {
    min-width: 16.666667%;
    flex: 0 0 16.666667%;
  }
}