.navbar {
  border-bottom: 1px solid #ccc1b7;
  padding: .75rem 0;
}

.navbar el-header {
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 11.3%;

  a {
    margin: 0 1.25rem 0 0;
    color: #33302e;
    white-space: nowrap;
    cursor: pointer;
    font-size: 22.5px;
  }

  .header-brand2 {
    margin-right: 0 !important;
    font-size: 18px !important;
    color: #0d7680 !important;
  }

  .header-brand2:hover {
    color: #252423 !important;
    text-decoration: underline;
  }
}