// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

.container {
  background-color: lightcoral;
}

.row {
  display: flex;
  background-color: lemonchiffon;
  align-items: center;
  justify-content: space-between !important;
  margin: 0 9.7%;
}

.col-sm {
  margin: 0 auto;
  height: inherit;
  line-height: inherit;
  background-color: aqua;
  width: 41.66666%;
  margin: 0 auto;
}

ul,
ol>li {
  list-style-type: none;
}

.form-label {
  font-weight: 600;
  color: #33302e;
  display: inline-block;
  margin-bottom: .5rem;
}

.form-group {
  margin-bottom: 1rem
}

.form-control {
  border-radius: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input {
  overflow: visible;
  margin: 0;
  font-family: initial;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.btn {
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 0pc;
  line-height: 1.5;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  border-color: #007bff;
  background-color: #0d7680;
  color: #fff;
}

.text-center {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.text-muted {
  color: #6c757d !important;
}

.form-text {
  display: block;
  margin-top: .25rem;
}

small {
  font-size: 80%;
  font-weight: 400;
}